.button {
  padding: 10px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.25px;
  text-align: center;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-black);
  color: var(--color-primary);
}

.m {
  height: 47px;
}

.l {
  height: 33px;
}
